OPENAI_API_KEY=
# The temperature controls how much randomness is in the output
AI_TEMP=0.1
# The size of the response
AI_MAX_RESPONSE_TOKENS=100
# Maximum number of tokens to send to the API
AI_MAX_REQUEST_TOKENS=800
# Mock calls to openai since they are expensive
AI_LIVE=false


NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

UPSTASH_REST_API_DOMAIN=
UPSTASH_REST_API_TOKEN=

IP_RATE_LIMIT=1000 # 1000 requests per IP per day
IP_RATE_TIMEFRAME=86400 # 24 hours